body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1373px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1373px;
  height:959px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-14px;
  width:1373px;
  height:959px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u66_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:92px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:126px;
  width:158px;
  height:67px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_img.disabled {
}
#u66.disabled {
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:97px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:126px;
  width:158px;
  height:67px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_img.disabled {
}
#u67.disabled {
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u68_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:102px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:126px;
  width:158px;
  height:67px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_img.disabled {
}
#u68.disabled {
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u69_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:102px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:126px;
  width:158px;
  height:67px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_img.disabled {
}
#u69.disabled {
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u70_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:10px 25px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 25px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 25px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u70 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:223px;
  width:246px;
  height:380px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:10px 25px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 25px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 25px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u70.disabled {
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u71_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:20px 35px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:20px 35px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:20px 35px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u71 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:223px;
  width:246px;
  height:380px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:20px 35px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:20px 35px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:20px 35px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u71.disabled {
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u72_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:435px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:223px;
  width:246px;
  height:380px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_img.disabled {
}
#u72.disabled {
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u73_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:40px 55px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:40px 55px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:40px 55px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u73 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:223px;
  width:246px;
  height:380px;
  display:flex;
}
#u73 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:380px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:40px 55px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:40px 55px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:40px 55px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u73.disabled {
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1373px;
  height:299px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:646px;
  width:1373px;
  height:299px;
  display:flex;
  color:#000000;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:263px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u76_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:263px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:263px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:664px;
  width:271px;
  height:263px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:263px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76.disabled {
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:263px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u77_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:263px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:263px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:682px;
  width:271px;
  height:263px;
  display:flex;
  text-align:center;
}
#u77 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:263px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u77.disabled {
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:32px;
  width:140px;
  height:40px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:43px;
  width:34px;
  height:19px;
  display:flex;
  color:#000000;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:32px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:32px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:32px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:32px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-right:0px;
  border-radius:49px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:35px;
  width:123px;
  height:34px;
  display:flex;
  color:#000000;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:32px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Arial Black', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#D7D7D7;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
